<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments:: head} "></head>

<body>
<div class="container">
  <div th:replace="~{fragments:: header} " class="header"></div>

  <div class="content">
    <div class="title">
      <h2>Add level</h2>
    </div>

    <div class="details">
      <form method="post" action="/level/save" enctype="multipart/form-data">
        <div class="form-input">
          <label>Building:</label>
          <select name="buildId">
            <option th:each="b: ${builds}" th:value="${b.id}" th:text="${b.name}"></option>
          </select>
        </div>
        <div class="form-input">
          <label>Level:</label>
          <input name="levels" type="text">
        </div>
        <div class="form-input">
          <label>File:</label>
          <input name="file" type="file">
        </div>

        <div class="form-button">
          <button type="submit">Save</button>
          <button class="cancel" type="reset" onclick="location.href = '/rooms'">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>

</html>