<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments:: head} "></head>

<body>
<div class="container">
  <div th:replace="~{fragments:: header} " class="header"></div>

  <div class="content">
    <div class="title">
      <h2>Details level</h2>
    </div>

    <div class="details">
      <form  th:object="${level}">
        <div class="form-input">
          <label>Building:</label>
          <input name="name" type="text" th:value="*{building.name}" readonly>
        </div>
        <div class="form-input">
          <label>Level:</label>
          <input name="levels" type="text" th:value="*{level}" readonly>
        </div>
        <div class="form-input">
          <label>File:</label>
          <input name="fileName" type="text" th:value="*{fileName}" readonly>
        </div>
      </form>


    </div>
  </div>
</div>
</body>

</html>