<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments:: head} "></head>

<body>
<div class="container">
  <div th:replace="~{fragments:: header} " class="header"></div>

  <div class="content">
    <div class="title">
      <h2>Details building area</h2>
    </div>

    <div class="details">
      <form th:object="${area}" method="post" action="/level/area/save">
        <div class="form-input">
          <label>Level:</label>
          <input type="text" th:value="|*{level.building.name} - *{level.level}|" readonly>
        </div>
        <div class="form-input">
          <label>Coords:</label>
          <input  type="text" th:value="*{coords}" readonly>
        </div>
        <div class="form-input">
          <label>AreaId:</label>
          <input type="text" th:value="*{overlay}" readonly>
        </div>

      </form>


    </div>
  </div>
</div>
</body>

</html>