<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="~{fragments:: head} "></head>
<script>
  function deleteUser(id) {
    fetch('/user/delete?id=' + id, {
      method: 'DELETE',
    })
      .then(response => {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        location.reload();
      })
      .catch(error => console.error('Error:', error));
  }
</script>

<body>
<div class="container">
    <div th:replace="~{fragments:: header} " class="header"></div>

    <div class="content">
        <div class="title">
            <h2 class="info">Users</h2>
            <h3><a href="/user/add"><i class="fa-solid fa-square-plus"></i>Add</a></h3>
        </div>

        <div class="details">
            <table>
                <thead>
                <tr>
                    <th>Login</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Created</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u: ${users}">
                    <td><a th:href="@{'/user?id=' + ${u.id}}" th:text="${u.login}"></a> </td>
                    <td th:text="${u.name}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.role.name}"></td>
                    <td th:text="${u.created}"></td>
                    <td>
                        <a th:href="@{'/user/edit?id=' + ${u.id}}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <i class="fa-solid fa-trash-can" th:onclick="'deleteUser(' + ${u.id} + ')'"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>

</html>