<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>BuildingTracker</title>
    <meta name="author" content="Przemysław Orpel">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- Style -->
    <link rel="stylesheet"  th:href="@{/css/style.css}">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/ee2612ee84.js" crossorigin="anonymous"></script>

    <!-- Js map -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/jquery.rwdImageMaps.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/maphilight/1.4.0/jquery.maphilight.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Area hover
            $('.map').maphilight();
            // Dynamic resizing
            $('img[usemap]').rwdImageMaps();

            // Wait to full load img
            window.setTimeout(function () {
                positionOverlays();
            }, 500);

            $(window).on("resize", function () {
                positionOverlays();
            });
        });

        function positionOverlays() {
            // Loop through each overlay
            $('.overlay').each(function (index) {
                 // Get the overlay number from the data-overlay attribute
                 var overlayNumber = $(this).data('overlay');

                // Get the coordinates of the corresponding area
                var areaCoords = $("area[data-overlay='" + overlayNumber + "']").attr('coords');

                // Check if coordinates are defined
                if (areaCoords) {
                    areaCoords = areaCoords.split(',');

                    // Calculate the center of the area
                    var centerX = (parseFloat(areaCoords[0]) + parseFloat(areaCoords[2])) / 2;
                    var centerY = (parseFloat(areaCoords[1]) + parseFloat(areaCoords[3])) / 2;

                    // Set the position of the overlay
                    $(this).css({
                        visibility: 'visible',
                        top: centerY - $(this).height() / 2 + 'px',
                        left: centerX - $(this).width() / 2 + 'px',
                    });
                }
            });
        }
    </script>
</head>
<body>
    <div class="container">
        <div th:replace="~{fragments:: header} " class="header"></div>

        <div class="content">
            <div class="title">
                <h2  class="info" th:text="|Building: ${building}|">Building: X1</h2>
                <h3 th:text="|Level: ${level.level}|">Level: 2</h3>
            </div>
            <div class="map-div">
                <img th:src="@{'/img/' + ${level.fileName}}" usemap="#image-map" class="map">
<!--                <map name="image-map">-->
<!--                    <area alt="" title="" href="#1" coords="181,253,5,5" shape="rect" data-overlay="1">-->
<!--                    <area alt="" title="" href="#2" coords="184,5,362,253" shape="rect" data-overlay="2">-->
<!--                    <area alt="" title="" href="#3" coords="543,254,366,4" shape="rect" data-overlay="3">-->
<!--                    <area alt="" title="" href="#4" coords="548,5,725,253" shape="rect" data-overlay="4">-->
<!--                    <area alt="" title="" href="#5" coords="728,5,798,253" shape="rect" data-overlay="5">-->
<!--                    <area alt="" title="" href="#6" coords="3,258,798,321" shape="rect" data-overlay="6">-->
<!--                </map>-->
                <map name="image-map">
                    <area th:each="a: ${areas}" target="" alt="" title=""  th:href="@{'#'  + ${a.overlay}}"  th:coords="${a.coords}" shape="rect" th:data-overlay="${a.overlay}">
                </map>
<!--                <div th:each="l: ${areas}" class="overlay" th:data-overlay="${l.overlay}" th:text="${l.overlay}" th:title="${l.overlay}"></div>-->

                <div th:each="o: ${rooms}" class="overlay" th:data-overlay="${o.areaId}" th:text="${o.name}" th:title="${o.roomType.name}"></div>
            </div>

            <h2 class="info">Details:</h2>
            <span th:each="r, index: ${rooms}">
                 <h3 th:id="${index.index+1}" th:text="|${r.roomType.name}: ${r.name}|">Room: 202</h3>
                <div class="room">
                    <p th:each="e: ${empRooms}" th:if="${r.name == e.room.name}">
                        <a href="#" th:text="|${e.employee.name} - ${e.employee.workplace.name} |">Jackson Clark - Software Developer</a>
                    </p>
                </div>
            </span>
        </div>
    </div>
</body>

</html>