<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments:: head} "></head>

<body>
<div class="container">
    <div th:replace="~{fragments:: header} " class="header"></div>

    <div class="content">
        <div class="title">
            <h2>Edit building</h2>
        </div>

        <div class="details">
            <form th:object="${building}" method="post" action="/build/save">
                <div class="form-input">
                    <label>Name:</label>
                    <input name="name" type="text" th:value="*{name}">
                    <input name="id" type="text" th:value="*{id}" hidden="hidden">
                </div>
                <div class="form-input">
                    <label>Levels:</label>
                    <input name="levels" type="text" th:value="*{levels}">
                </div>
                <div class="form-input">
                    <label>File:</label>
                    <input name="fileName" type="text" th:value="*{fileName}">
                </div>

                <div class="form-button">
                    <button type="submit">Save</button>
                    <button class="cancel" type="reset" onclick="location.href = '/buildings'">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>